* {
  margin: 0;
  padding: 0;
}
.heading{
    margin-top: 100px;
}
.number {
  background-color: bisque;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  height: 50vh;
}
.container {
  height: 90vh;
  color: #010101;
  font-size: 2rem;
}
.hr {
  border-bottom: 2px solid rgb(37, 37, 37);
}
.small{
    font-size: 1rem;
    color: #ff0000;
}
.hr-fluid{
    border-bottom: 2px solid rgb(37, 37, 37);
    width: 10vw;
    margin: auto;
}