* {
  margin: 0;
  padding: 0;
}
.heading{
  margin-top: 100px;
}
.number {
  background-color: bisque;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  height: 50vh;
}
.container {
  height: 75vh;
  color: #010101;
  font-size: 2rem;
}
.hr {
  border-bottom: 2px solid rgb(37, 37, 37);
}
.small{
  font-size: 1rem;
  color: #ff0000;
}
.hr-fluid{
  border-bottom: 2px solid rgb(37, 37, 37);
  width: 10vw;
  margin: auto;
}
.home-locate{
  font-size: 1.2rem;
  text-decoration: none;
  color: aliceblue;
  background: #010101;
  border-radius: 50px;
  padding: 5px 20px;
  text-align: center;
  transition: all 200ms ease-in;
}
.home-locate:hover{
  color: #000;
  background: #ca3c3c;
}