@media only screen and (max-width: 600px){

    .card-body {
        width: auto!important;
    }
    .small {
        display: none;
    }
    
    .number {
        width: 90%;
    }
    .small {
        font-size: 12px;
        color: #ff0000;
    }
    .Poppins {
        font-size: 17px;
    }
}