*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#080808, #606060);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: 	#F5F5F5;
}
.heading{
    color: 	#f0f0f0;
    font-size: 1.5rem;
}
.card-body{
    width: 25vw;
}
.card{
    border-radius: 10px;
    margin: 10px;
}

.quistion{
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}
.paramiter{
    padding: 10px 10px;
    background-color: #fffcf4;
    color: #080808;
    border-bottom: 2px solid #000;
}
.answer-option{
    width: 100%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
}

.footer{
    background: #d1d1d1;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    height: 10vh;
}
.footer a{
    color: rgb(48, 48, 48);
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.btn-sub{
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    background: cyan;
    width: 50%;
    color: white;
    border: none;
    border-radius: 50px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn-sub:hover{
    background: rgb(240, 145, 4);
    color: #000;
}